@import './../../node_modules/normalize.css/normalize.css';
@import './fonts/montserrat.scss';
@import './fonts/sixtyfour.scss';
@import './color_variables_1.scss';
@import './color_utils.scss';

body {
  @include color(background-color, main-background);
  min-width: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: min(1rem, 4.7vw);
}