:root {
  color-scheme: light dark;

  --main-background: #E9ECEF;
  --main-background-dark: #232627 ;

  --block-background: #FFFFFF;
  --block-background-dark: #181A1B;

  --between-blocks-border: #e9ecef;
  --between-blocks-border-dark: #373937;

  --input-border: #CED4DA;
  --input-border-dark: #33373a;

  --input-icon-background: #E9ECEF;
  --input-icon-background-dark: #232627;

  --focused: #80bdff;
  --focused-dark: rgb(0, 67, 140);

  --primary: #1976D2;
  --primary-dark: #0754B0;

  --secondary: #26A69A;
  --secondary-dark: #048478;

  --accent: #9C27B0;
  --accent-dark: #7A0590;

  --dark: #1D1D1D;
  --dark-dark: #0B0B0B;

  --dark-page: #121212;
  --dark-page-dark: #000000;

  --positive: #21BA45;
  --positive-dark: #009823;

  --negative: #C10015;
  --negative-dark: #A00003;

  --info: #31CCEC;
  --info-dark: #10AABA;

  --warning: #F2C037;
  --warning-dark: #C0A015;
}
