.login {
  width: min(90%, 22.5rem);
  @include color(background-color, block-background);
  border-top-width: 0.188rem;
  border-top-style: solid;
  @include color(border-top-color, primary);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  &__logo {
    padding-top: min(0.7rem, 5vw);
    padding-bottom: min(0.7rem, 5vw);
    overflow-y: hidden;
    border-bottom-width: 0.063rem;
    border-bottom-style: solid;
    @include color(border-bottom-color, between-blocks-border);
  }

  &__main-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: min(1.25rem, 7vw);
    padding-bottom: min(1.25rem, 7vw);
  }
}
